body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ------all------ */
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,600;0,700;0,900;0,1000;1,400;1,600;1,700;1,900;1,1000&family=Short+Stack&display=swap");

* {
  font-family: "Mulish", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* background */
div#mainBackground {
  margin-top: 1rem;
  padding: 1rem 0 1rem 0;
  min-height: calc(100vh - (3.4rem + 6px));
}

/* font */
html {
  font-size: 16px;

  @media screen and (min-width: 750px) {
    font-size: 17px;
  }

  @media screen and (min-width: 900px) {
    font-size: 18px;
  }
}

h1 {
  font-family: "Short Stack";
  font-size: 3rem;
  text-align: center;
}

h2 {
  font-family: "Short Stack";
  font-size: 1.8em;
  text-align: center;
}

h3 {
  font-family: "Short Stack";
  font-size: 1.2em;
  text-align: center;
}

span {
  display: block;
  text-align: center;
}

/* white boxes (each sections) */
div.boxes {
  min-width: 300px;
  background-color: white;
  border-radius: 2rem;
  margin: 1rem;
  padding: 1rem;
}

/* buttons and inputs */
button {
  border-radius: 1rem;
  color: black;
  cursor: pointer;
  padding: 0.1rem 0.5rem;
  margin: 0.5rem auto 0.2rem auto;
}
button:hover{
  background: black;
    color: white;
}

.deleteButton {
  display: block;
  background: rgb(245, 181, 181);
  z-index: 2;
}

input,
select {
  display: block;
  width: 100%;
  max-width: 300px;
  border-radius: 1rem;
  padding: 0.2rem 1.5rem;
  margin: 1rem auto;
}

input.submit {
  background: rgb(175, 243, 215);
  cursor: pointer;
}
input.submit:hover{
  background: black;
    color: white;
}
/* ------StoreList ------*/
div#storeListBox {
  border: 2px dashed black;
}
div.storeCardList {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 140px);
  grid-gap: 10px;
  justify-content: center;

  @media screen and (min-width: 750px) {
    grid-template-columns: repeat(auto-fit, 150px);
    grid-gap: 12px;
  }

  @media screen and (min-width: 900px) {
    grid-template-columns: repeat(auto-fit, 180px);
    grid-gap: 14px;
  }
}
/* ------OneStore ------*/
div#storeCardRouter {
  width: 100%;
  border-radius: 1rem;
  background: rgb(250, 250, 190);
  border: black 2px solid;
  cursor: pointer;
}
div.cardTextBox {
  margin: 1rem 0 1rem 0;
}
button.deleteButtonStore {
  margin: 0.2rem auto 1rem auto;
}
/* ------HomePage ------*/
div.homePageContainer {
  max-width: 1000px;
  margin: 0 auto;
}
div#titleBox {
  border: 4px black solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div#iconFamily {
  width: 100%;
  height: auto;
}
div#iconFamily img {
   display: block;
   margin: 0 auto;
   width: 90%;
   max-width: 300px;
   height: auto;
 }
div#iconTeam {
  display: flex;
  justify-content: center;
}
div#iconTeam img{
      margin: 0 auto;
      width: 90%;
      max-width: 500px;
      height: auto;
}
/* ------EachstorePage------ */
div.listPageContainer {
  max-width: 1000px;
  margin: 0 auto;
}

nav {
  position: relative;
  width: 110px;
  margin-left: 1rem;
}

img#homeImage {
  width: 110px;
  height: auto;
}

div#textHome {
  position: absolute;
  top: 70px;
  left: 30px;
  color: white;
}

img#listImage {
  display: block;
  margin: 0 auto;
  width: 50vw;
  max-width: 200px;
}

div#homeButton {
  display: block;
}
/* ------InputStore ------*/
div#inputStoreBox {
  border: 2px dashed black;
}
/* ------InputCategoryAndStore------ */
h3#addItem {
  margin-top: 3rem;
}

div#inputListBox {
  border: 2px dashed black;
}
h3#addItem {
  margin-top: 3rem;
}

div#inputListBox {
  border: 2px dashed black;
}
/* ------OneItem------ */
div.itemBorder {
  position: relative;
  width: 100%;
  border-radius: 1rem;
  background: white;
  border: black 2px solid;
  cursor: pointer;
}
div.itemBorder p p {
   margin: 1rem;
 }
div.purchased {
  position: absolute;
  width: 120px;
  height: 80px;
  border-radius: 1rem;
  opacity: 0.5;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  cursor: pointer;

  @media screen and (min-width: 750px) {
    width: 150px;
  }

  @media screen and (min-width: 900px) {
    width: 180px;
  }
}

div.purchasedTime {
  font-size: 0.8rem;
  text-align: center;
}